.header{
    margin-top: 25px;
    font-family: $font-family;
}
.logo a{
    color: $color-text;
    text-decoration: none;
}
.logo h1{
    font-family: $font-family-logo;
    font-size: 90px;
    letter-spacing: 3px;
    margin-right: -12px;
}
.menu{
    margin-top: 40px;
}
.menu a{
    font-size: 30px;
    display: inline-block;
    color: $color-text;
    margin-right: 40px;
}
form{
    display: inline-block;
}
#myInput {
    font-size: 30px; /* Increase font-size */
    background: $color-bg;
    border: none;
    color: lighten($color-text, 20%);
  }

#myInput {
    border: none;
    outline: none;
}
  
#myInput:hover{
    border: none;
}  
form button{
    border: none;
    background: $color-bg;
    font-size: 22px;
    margin-left: -10px;
}

  @media(max-width: 1000px)
{
    #myInput{
        margin-right: 30px;
    }
}

.autocomplete-items {
  position: absolute;
  border-bottom: 1px solid $color-text;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 60%;
  font-size: 25px;
  text-align: center;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background: lighten($color-bg, 10%);
  width: 200px;
  right: 15%;
}