.content{
    margin-top: 200px;
    margin-bottom: 150px;
    letter-spacing: 2px;
}
.border{
    width: 50px;
    height: 5px;
    background: black;
    margin: 0 auto;
    margin-bottom: 10px;
}
.content h3{
    margin-bottom: 5px;
    border-top: 0.04em solid lighten(#000, 70%);//50 /* 2/50 */
    padding: 0 10px;
    margin: 0 230px;
}
.content h3 span{
    position: relative;
	top: -0.5em;//50 /* 35/50 */
	border: 0;
	background:lighten(#dcd1d3, 5%);
	padding-left: 0.16em;//50 /* 8/50 */
	padding-right: 0.16em;//50 /* 8/50 */
}
.content h2{
    margin-bottom: 30px;
}
.content h1{
    font-size: 50px;
    margin-bottom: 130px;
}

.content p{
    font-size: 23px;
}

@media(max-width: 1000px)
{
    .content h3{
        margin: 0 30px;
    }
}