
$font-family: 'Mrs Saint Delafield', cursive;
$font-family-logo: 'Miss Fajardose', cursive;

$color-text: #222;
$color-text-nav: white;
$color-header: #dcd1d3;
$color-bg: lighten(#dcd1d3, 5%);
$color-bg-footer: darken(#dcd1d3, 20%);
$color-footer: #8c95ad;;
$color-links: darken(#E85A4F, 10%);
$color-introduction: darken(#E85A4F, 20%);
$color: #E98074;
$color-sel: #FCBD24;


$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-el: 1200px,;